@import "tailwindcss";

:root {
  --background: #FAF9F6;
  --foreground: #0F172A;
  --gold-accent: #D97706;
}

body {
  background-color: #FAF9F6;
  color: #0F172A;
  font-family: var(--font-manrope), sans-serif;
}

h1, h2, h3, .font-serif {
  font-family: var(--font-playfair), serif;
}

